site_name: Pretzel Documentation
theme:
  name: material
  palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: black
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.instant.prefetch
    - navigation.tabs
    - toc.integrate
    - navigation.top
    - toc.follow
    - navigation.sections
    - content.tabs.link
    - content.code.copy
    - navigation.indexes
nav:
  - About Pretzel:
    - index.md
  - User Stories:
    - User-Stories/User-story-1.md
    - User-Stories/User-story-2.md
    - User-Stories/User-story-3.md
  - Use Cases:
    - Use-Cases/Finding-a-marker-or-gene-on-a-genome.md
    - Use-Cases/Visualise-genotype-data-for-a-subset-of-accessions-around-specific-genomic-regions.md
    - Use-Cases/Visualise-the-location-of-a-subset-of-markers.md
    - Use-Cases/VCF-genotype-search.md
  - Basic Functions:
    - Basic-Functions/Adding-and-removing-datasets-from-the-view.md
    - Basic-Functions/Search-and-filter-datasets.md
    - Basic-Functions/Zooming-in-and-out-of-datasets.md
    - Basic-Functions/Moving-axes.md
    - Basic-Functions/BLAST-search.md
    - Basic-Functions/Axis-flip-orientation.md
    - Basic-Functions/Feature-search.md
    - Basic-Functions/Axis-Title-menu-layout.md

  - Self Hosting:
    - Self-Hosting/Quick-setup.md
    - Self-Hosting/Extended-features.md
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
plugins:
  - search
  - redirects:
      redirect_maps:
        'aggdocs.md': 'Use-Cases/Finding-a-marker-or-gene-on-a-genome.md'
        'AGG-User-group-documentation/Finding-a-marker-or-gene-on-a-genome.md': 'Use-Cases/Finding-a-marker-or-gene-on-a-genome.md'
        'AGG-User-group-documentation/View-a-summary-of-accessions-for-a-searched-subset-of-markers.md': 'Use-Cases/Visualise-genotype-data-for-a-subset-of-accessions-around-specific-genomic-regions.md'
        'AGG-User-group-documentation/Visualise-the-location-of-a-subset-of-markers.md': 'Use-Cases/Visualise-the-location-of-a-subset-of-markers.md'
